---
import '../styles/main.css';
import '../styles/search-results.css';
import '../styles/weather-forecast.css';
import Typeahead from '../components/Typeahead/Typeahead.astro';
---

<script>
  import Alpine from 'alpinejs';
  Alpine.store('weatherStore', {
    location: {},
    setLocation(location) {
      this.location = location;
    },
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Typeahead</title>
  </head>
  <body>
    <div id="app">
      <div class="side_by_side">
        <Typeahead />
      </div>
      <div id="weather-forecast"></div>
    </div>
  </body>
</html>
